/* your styles go here */
.custom-navbar {
  margin-bottom: 1.2em;
  padding-top: 0.3525em;
}

.site-header > .col-md-12{
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.site-header a:hover, .site-footer a:hover{
  opacity: 1;
  color: white;
}

.social-media-block .external {
  font-size: 21px;
}

.conteudo {
  margin-left: 5.5%;
  width: 89%;
  text-align: justify;
  padding-left: 0;
  padding-right: 0;
}

.conteudo-historia > a {
  text-decoration: inherit;
}

.conteudo-historia > a:hover{
  text-decoration: underline;
}

.container-fluid{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.conteudo-historia{
  padding-left: 22.22%;
  padding-right: 22.22%;
  font-size: 20px;
}

.content-summary{
  font-size: 16px;
  margin: 3em 0;
  text-align: justify;
}

.conteudo-historia > p{
  margin: 1.5em 0;
}

.conteudo-historia > p > img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.titulo-historia h1{
  padding-left: 11.11%;
  padding-right: 11.11%;
  font-size: 4.25em;
  line-height: 1.06;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgb(77, 77, 77);
}

div[class='titulo-historia']::after {
    box-sizing: border-box;
    background: rgb(77, 77, 77);
    text-align: center;
    content: '';
    width: 4.5em;
    height: 0.375em;
    position: absolute;
    left: 0; 
    right: 0;
    margin: 0 auto;
}

.conteudo-historia > h2 {
  font-size: 2.25em;
  line-height: 1.34;
}

.conteudo-historia > h3 {
  font-size: 1.625em;
  line-height: 1.34;
}

.conteudo-historia > p > .table {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  color: rgb(77, 77, 77);
  border-bottom: 2.25em;
}

.table > thead {
  color: #fff;
  background-color: #292b2c;
}
